<% size = @events.size %>
<% count = 1 %>
<% more = size - 4 %>
<% @more_events = [] %>
<% for event in @events %>
  <% if count < 5 %>
    <div class="event">
      <span class="time" title="ends at <%=h event.end_time.to_s(:time) %>">
        <%=h event.start_time.to_s(:time) %>
      </span>
      <span class="label"><%= link_to event.label, event.reservation, :title => event.label %></span>
    </div>    
  <% elsif count == 5 %>
    <% if more < 2 %>
      <div class="event">
        <span class="time" title="ends at <%=h event.end_time.to_s(:time) %>">
          <%=h event.start_time.to_s(:time) %>
        </span>
        <span class="label"><%= link_to event.label, event.reservation, :title => event.label %></span>
      </div>
    <% else %>
      <div id="more_link_<%= day %>" class="more">
        <%= link_to_function "+#{more} more", "toggle_more(#{day})" %>
      </div>
    <% @more_events << event %>
    <% end %>
  <% elsif count > 5 %>
    <% @more_events << event %>
  <% end %>
  <% count += 1 %>
<% end %>

<% unless @more_events.blank? %>
<div id="more_<%= day %>" class="more_events" style="position: relative; z-index: 4; display: none;">
  <% for mevent in @more_events %>
  <div class="event">
    <span class="time" title="ends at <%= "#{mevent.end_time.to_s(:time)}" %>">
      <%=h mevent.start_time.to_s(:time) %>
    </span>
    <span class="label"><%= link_to event.label, event.reservation, :title => event.label %></span>
  </div>
  <% end %>
  <div class="more">
    <%= link_to_function "hide", "toggle_more(#{day})" %>
  </div>
</div>
<% end %>