<div class="calendar_form">
    <% form_tag do -%>
      <%= text_field_tag 'month', params['month'] || '', :size => 4, :maxlength => 2, :class => 'form_month', :id => 'form_month' %> 
      <%= text_field_tag 'day', params['day'] || '', :size => 4, :maxlength => 2, :class => 'form_day', :id => 'form_day' %> 
      <%= text_field_tag 'year', params['year'] || '', :size => 4, :maxlength => 4, :class => 'form_year', :id => 'form_year' %> 
      <%= submit_tag 'Search' %>
    <% end -%>
    <span class="mode_links">
      <%= link_to 'day', :action => :calendar, :params => params.merge!({:mode => 'day'}) %>
      <%= link_to 'week', :action => :calendar, :params => params.merge!({:mode => 'week'}) %>
      <%= link_to 'month', :action => :calendar, :params => params.merge!({:mode => 'month'}) %>
    </span>
    <br/><br/>
    <% unless @cal.nil? -%>   
      <span class="cal_nav_link">
        <%= link_to '<<< Prev Year', :action => :calendar, :params => {:year => @cal.prev_year.year, :month => @cal.prev_year.month, :day => @cal.prev_year.day} %>
      </span>
      &nbsp;
      <span class="cal_nav_link">
        <%= link_to '<< Prev Month', :action => :calendar, :params => {:year => @cal.prev_month.year, :month => @cal.prev_month.month, :day => @cal.prev_month.day} %>
      </span>
      &nbsp;
      <span class="cal_nav_link">
        <%= link_to '< Prev Day', :action => :calendar, :params => {:year => @cal.prev_day.year, :month => @cal.prev_day.month, :day => @cal.prev_day.day} %>
      </span>
      &nbsp;&nbsp;
      <span class="cal_nav_link">
        <%= link_to 'Next Day >', :action => :calendar, :params => {:year => @cal.next_day.year, :month => @cal.next_day.month, :day => @cal.next_day.day} %>
      </span>
      &nbsp;
      <span class="cal_nav_link">
        <%= link_to 'Next Month >>', :action => :calendar, :params => {:year => @cal.next_month.year, :month => @cal.next_month.month, :day => @cal.next_month.day} %>
      </span>
      &nbsp;
      <span class="cal_nav_link">
        <%= link_to 'Next Year >>>', :action => :calendar, :params => {:year => @cal.next_year.year, :month => @cal.next_year.month, :day => @cal.next_year.day} %>
      </span>
  <% end -%>
</div>
